@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* Fluid font size scale */
    /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--2: clamp(0.6944rem, 0.6577rem + 0.1836vi, 0.8rem);
    --step--1: clamp(0.8333rem, 0.7754rem + 0.2899vi, 1rem);
    --step-0: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
    --step-1: clamp(1.2rem, 1.0739rem + 0.6304vi, 1.5625rem);
    --step-2: clamp(1.44rem, 1.2615rem + 0.8924vi, 1.9531rem);
    --step-3: clamp(1.728rem, 1.4799rem + 1.2407vi, 2.4414rem);
    --step-4: clamp(2.0736rem, 1.7334rem + 1.7011vi, 3.0518rem);
    --step-5: clamp(2.4883rem, 2.027rem + 2.3067vi, 3.8147rem);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-size: var(--step-1);
}

.main-container {
  width: min(85ch, 100% - 4rem);
  margin-inline: auto;
}

h1,
h2,
h3,
h4 {
  @apply font-serif;
  max-width: 20ch;
  @apply font-semibold;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

p,
li,
blockquote:not([class]) {
  max-width: 60ch;
}

.logo {
  width: var(--step-2);
  height: var(--step-2);
}

a {
  @apply text-base;
}

.hero-wrapper {
  height: 400px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-box {
  height: 400px;
  position: absolute;
  width: 100%;
  backdrop-filter: blur(60px);
}

.hero-box > h2 {
  color: white;
  margin-bottom: 2rem;
}